/*@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');*/

:root {
--wht-clr: white;
--fblue-clr: #3b5998;
--fblblue-crl: #8b9dc3;
--drkblue-clr: darkblue;


}
html {
   
    font-family: "Open Sans Condensed", sans-serif;
}
header{
    justify-content:center;
}

a {
    text-decoration: none;
}

body {
    display:flex;
    flex: 0 1 auto;
    background-color: slategray;
    justify-content:center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

.bluebox {
    
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    height: 150px;
    width: 850px;
    background-color: var(--fblue-clr);
    flex:1 1;
    /*margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;*/
}


.textbox {
    display: block;
    /*width: 50%;
    top: 75px;
    right: 150px;
    margin-left: 45%;*/
    position: relative;
    color: var(--wht-clr);
    margin-top:5%;

}

.textbb {
    position: relative;
    text-align: left;
    display:block;
    margin-top: 0;
    margin-bottom: 0;
}

.whitebox {
    flex:1 1;
    display: flex;
    justify-content:space-around;
    align-items:center;
    background-color: var(--wht-clr);
    /*height: auto;*/
    width: 850px;
    /*margin: auto;*/
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    /*top: 60%;*/


}

.timeline p,
.timeline a {
    text-align: center;
    color: inherit;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.tab a,
.tab p {
    color: inherit;
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color:  var(--wht-clr);
}

.timeline {
    text-align: center;
    display:block;
   /* padding-right:10%;*/
  
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2px;

}

.tab {
    
    
    text-align: center;
    display:block;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2px;



}

.tab2 {

    text-align: center;

    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    float: left;

}

.tab3 {

    text-align: center;

    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    float: left;

}

.profilepic {
    display: block;
    background-color: var(--fblue-clr);
    position: relative;
    /*top: 30%;*/
    margin-top:7%;
    margin-left: 10%;
    height: 100px;
    width: 100px;
    border: 3px solid #8b9dc3;
    border-radius: 3px;
    /*float: left;*/
    z-index: 1;

}

.textwb {
    display:flex;
    position: relative;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    flex:1;
    
    /*columns: 1px 4;
    color: slategrey;
    margin-top: 2px;
    margin-bottom: 2px;
    column-rule: 1px solid grey;
    position: relative;
    display: column;*/
    margin-left: 25%;
}

#time {

    margin: 0 0 0 0;
    border-bottom: 4px solid  var(--wht-clr);
    transition: border-bottom 0.2s linear;
}

#about {
    margin: 0 0 0 0;
    border-bottom: 4px solid  var(--wht-clr);
    transition: border-bottom 0.2s linear;
}

#well {
    margin: 0 0 0 0;
    border-bottom: 4px solid  var(--wht-clr);
    transition: border-bottom 0.2s linear;

}

#fbw {
    margin: 0 0 0 0;
    border-bottom: 4px solid  var(--wht-clr);
    transition: border-bottom 0.2s linear;
    margin-right: 5%;
}

#time:hover {

    margin: 0 0 0 0;
    border-bottom: 4px solid var(--drkblue-clr);;
}

#about:hover {
    margin: 0 0 0 0;
    border-bottom: 4px solid var(--drkblue-clr);;
}

#well:hover {
    margin: 0 0 0 0;
    border-bottom: 4px solid var(--drkblue-clr);;
}

#fbw:hover {

    /*text-decoration-line:underline;
    text-decoration-color:var(--drkblue-clr);;*/
    margin: 0 0 0 0;
    border-bottom: 4px solid var(--drkblue-clr);;
    margin-right: 5%;

}

.col {
    /*display: column;*/
    width: 850px;
    /*margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    position: relative;
    columns: 10px 2;*/
    display:flex;
    flex: 1 1;
    justify-content: space-between;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    

}

.leftcol {
    display: block;
    width: 328px;
    position: relative;

    
    /*column-width: 328px;*/

}

.rightcol {
    display: block;
    width: 512px;
    position: relative;
    
    
   
  /*  right: 0px;
    margin: auto;*/
    /*column-width: 512px;*/

}

.shortbio {
    border: 2px solid lightgrey;
    border-radius: 5px;
    position: relative;
    display: block;
    height: auto;
    background-color: var(--wht-clr);
    margin-top: 10px;
    margin-bottom: 10px;
}

.shortbio h3,
.shortbio h4,
.shortbio p,
.shortbio li,
.shortbio ul,
.shortbio small {
    display: block;
    background: white;

    margin-top: 0;
    margin-bottom: 0;
    padding: 4px;
}

.post1 {
    border: 2px solid lightgrey;
    border-radius: 3px;
    position: relative;
    display: block;
    height: auto;
    background:  var(--wht-clr);
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 56px;

    /*clear: left;*/


}

.post1 h2,
.post1 p {
    display: block;
    background:  var(--wht-clr);
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    padding-right: 15px;
}

.post1 h2 {
    color: var(--fblue-clr);
}

.posttext::after {
    content: "";
    clear: both;
    display: block;
}


.postpic {
    display: block;
    background-color: var(--fblue-clr);
    position: relative;
    background-image: url("../../src/img/profilepic.jpg");
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
    border: 3px solid var(--fblblue-crl);
    border-radius: 3px;
    float: left;
    margin-right: 10px;


}

.fakebooklogo{
    display: block;
    background-color: var(--fblue-clr);
    position: relative;
    /*top: 12%;
    left:70%;*/
    /*margin-bottom:;*/
   margin-right: 10%;
    height: 100px;
    width: 200px;
    border: 1px solid var(--fblblue-crl);
    border-radius: 3px;
    /*float: left;
    z-index: 1;*/
}
.titlesbio h3, .titlesbio {
    color:var(--fblblue-crl);
}
.bluebox .fakebooklogo {
order:1;
align-items:center;

}